@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Library";
}

@model MovieStoreRentalService.DTO.RentalDTO

<table>
    <tr>
        <th>Name</th>
        <th>RentalType</th>
        <th>Amount Available</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.RentalType.ToString()</td>
        <td>@Model.AmountAvailable</td>
        <td>@Model.Price</td>
    </tr>
</table>
